/*--------------------------------------------------------PDF file-----------------------------------------------------------------------*/
p{
    color: #3c3c3c;
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-family: Arial;
    border-radius: 4px;
    text-align: center;
}

.logo{
    width: 400px;
    height: auto;
}

.logo img{
    width: 400px;
}


table td{
    padding: 4px;
    text-align: left;
}

footer{
    margin-top: 380px;
    margin-bottom: 0px;
}

footer h6{
    text-align: center;
}