/*----------------------------------------------------------------------------------------------------------------------------------------------
  For Hole Body (Common File)*/
body{
    background-image: url("../images/background/back2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

.fix{
    overflow: hidden;
}

.font{
    font-family: Arial;
}

.banner{
    background-color: #5cb85c;
    width: 100%;
    height: 50px;
    color:#3c3c3c;
    font-size: 20px;
    font-family: "Comic Sans MS";
    text-align: center;
    padding-top: 10px;
}

/*----------------------------------------------------------------------------------------------------------------------------
  Header Section*/
.header{
    width: 100%;
    height: 50px;
    background-color:#1f2b39;
    opacity: 0.9;
}

/*-----------------------------------------------------------------------------------------------------------------------------
  Logo Section*/
.logo{
    width: 100px;
    height: 100%;
    float: left;
    margin: 0;
}

.logo img{
    width: 120px;
}

.container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

header{
    color: #EBEBD3;
    padding: 1em 0;
    position: relative;
}

header::after{
    content: '';
    clear:both;
    display: block;
}

.site-nav{
    position: absolute;
    top: 100%;
    right: 0%;
    background: #1f2b39;
    height: 0px;
    overflow: hidden;
}

.site-nav--open{
    height: auto;
}

.site-nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.site-nav li{
    border-bottom: 1px solid #575766;
}

.site-nav li:last-child{
    border-bottom: none;
}

.site-nav a{
    color: #EBEBD3;
    display: block;
    padding: 2em 4em;
    text-decoration: none;
    transition: 1s;
}

.site-nav a:hover,
.site-nav a:focus{
    background: #E4B363;
    color: #3c3c3c;
    text-decoration: none;
    transition: 0.5s;
}

.menu-toggle{
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburger::before{
    transform: translateY(-7px);
}

.hamburger::after{
    transform: translateY(4px);
}

.open .hamburger{
    transform: rotate(45deg);
}

.open .hamburger::before{
    opacity: 0;
}

.open .hamburger::after{
    transform: translateY(-3px) rotate(-90deg);

}


@media (min-width: 770px) {
    .menu-toggle{
        display: none;
    }

    .site-nav{
        height: auto;
        position: relative;
        background: transparent;
        float: right;
    }

    .site-nav li{
        display: inline-block;
        border: none;
    }

    .site-nav a{
        padding: 0;
        margin-left: 2em;
    }

    .site-nav a:hover,
    .site-nav a:focus{
        transition: 1s;
        background: transparent;
    }
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------
   Slider Section*/
.item img {
    width:100%;
    height:100%;
}

.fontStyle{
    color: #c1e2b3;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------
    Home */
.home{
    float: left;
    margin-top: 2px;
}

.aboutContent{
    width: 100%;
    height: auto;
}

.aboutText{
    width: 91%;
    padding: 22px 0px 0px 30px;
    word-spacing: 2px;
    text-align: justify;
}
.aboutText p{
    font-size: 15px;
    color: white;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------
    responsive code for home text*/
@media screen and (max-width: 1110px){
    .text{
        width: 98%;
        margin-top: 0px;
    }
}

/*------------------------------------------------------------------------------------------------------------------------------------------------
    Gallery */
.gallery{
    margin-top: 20px;
    text-align: center;
    font-family: "Comic Sans MS";
    color: white;
}

.gallery img{
    border-radius: 4px;
    margin-left: 2px;
    width: 100%;
    height: 250px;
    transition: 1s;
}

.gallery img:hover{
    transition: 1s;
    transform: scale(1.05);
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------
    responsive code for home text*/
@media screen and (max-width: 991px){
    .gallery img{
        width: 100%;
    }
}

/*------------------------------------------------------------------------------------------------------------------------------------------------
    Hotel Details */

.hotelDetails a{
    text-decoration: none;
    display: inline-block;
    width: 90%;
    text-align: center;
    padding: 4px;
    border-radius: 2px;
    font-family: "Comic Sans MS";
    background-color: #66afe9;
    margin-top: 2px;
    transition: 1s;
}

.hotelDetails a:hover{
    text-decoration: none;
    display: inline-block;
    width: 92%;
    text-align: center;
    padding: 4px;
    border-radius: 2px;
    font-family: "Comic Sans MS";
    color: whitesmoke;
    margin-top: 2px;
    transition: 1s;
}

.hotelDetails h2,h5{
    color: #8c8c8c;
}

.hotelDetails p{
    margin:10px 0px 0px 0px;
    text-align: justify;
    line-height: 30px;
}

.firstImage{
    border-radius: 4px;
    width: 90%;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------
    Budget */
.budget{
    margin-top: 2px;
    background: white;
}

.budget table{
    margin-top: 4px;
}

#searchBox{
    width:200px;
    transition: 1s;
}

#searchBox:focus{
    transition: 1s;
    width: 250px;
    background-color: #c1e2b3;
}

/*for removing up-down arraow from input type number*/
.no-sppiners{
    -moz-appearance:textfield;
}
.no-sppiners::-webkit-outer-spin-button,
.no-sppiners::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}


.form2Hover{
    transition: 1s;
}

.form2Hover:focus{
    background-color: #c1e2b3;
    transition: 1s;
}

.whitefont{
    color: white;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------
      footer Section */
footer h5,h6{
    text-align: center;
    color: white;
}


